*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
}
.navbar{
    width: 4.5%;
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;

}
.navbar .logo{
    width: 55px;
    height: 40px;
    margin-bottom: -15px;
    cursor: pointer;
}
.navbar i{
    font-size: 1.3rem;
    color: rgb(115, 119, 122);
}
.navbar-pic{
    height: 30px;
    width: 30px;
}
.page{
    height: 100%;
    width: 96.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.details{
    width: 90%;
    background-color: #eeeeee;
    margin-top: 30px;
    height: 22%;
    margin-bottom: 15px;
    border-radius: 20px;
    display: flex;
    gap: 15%;
    padding: 15px;
}
.profile{
    height: 40px;
    width: 40px;
    display: flex;
}
.profile-img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    cursor: pointer;
    border: #111111 solid 0.5px;
    object-fit: cover; 
    backdrop-filter:brightness(0.4);
}
.profile-img:hover{
    filter: brightness(80%);
}
.left-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
}
.left-side .profile{
    height: 70%;
    width: auto;
    margin-bottom: 15px;
}
.right-side{
    display: flex;
    width: 80%;
    align-items: center;
    gap: 30%;
}
.personal-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}
.typing-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}
.badges-list{
    width: 90%;
    height: 70%;
    padding: 25px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.left-down{
    display: flex;
    width: 120px;
    align-items: center;
}
.user-btn{
    height: 17px;
    width: 50px;
    margin-left: 10px;
    overflow-x: hidden;
    font-size: 0.7rem;
    cursor: pointer;
}
.red-box{
    width: 75%;
    height: 30px;
    background-color: rgb(204, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    position: relative;
    margin-top: 520px;
    cursor: pointer;
}
.red-box i{
    color: black;
    font-size: 1rem;
}
.red-box:hover{
    opacity: 0.75;
}
.badge-element{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 246.16px;
    height: 263.16px;
    background-color: aliceblue;
    display: none;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.badge-element img{
    width: 100%;
    height: 70%;
}
.badge-element:hover{
    transform: translateY(-10px); /* Moves the card up slightly */
    transform: translatex(-3px); /* Moves the card up slightly */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
#leaderboard-btn:hover{
    color: rgb(165, 171, 176);
}